header {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 80px;
    background-color: #d62b21;
}